p{
    font-size: large;
}
a{
    font-size: large;
}
.pfp-container{
    display:flex;
    justify-content: flex-start;
}
div{
    padding: 10px;
    padding-top: 0;
    width: 500px;
}
body {
    zoom: 2.3; /* 1.2 = 120% larger */
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
  }